
:root {
  background: #000;
    --text-sm:1.2rem;
    --accent:  linear-gradient(15deg, #13547a 0%, #008080 100%);
    --size_fs-2:2rem;
    --size_fs-1:2.5rem;
    --size_fs-3:1.75rem;
    --size_fs-4:1.5rem;
    --size_fs-5:1.2rem;



    --font-body:  Noto Sans, sans-serif	;
}
.links {
  display: flex;
  justify-content: space-around;
}

.links .contact {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}
.links_card{
display: flex;
justify-content: space-around;
flex-direction: column;
}

body {
  background-image: linear-gradient(
    to top,
    #0a0a0a,  
    #060606, 
    #030303, 
    #010101, 
    #000000   
        ); 

        /* background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20)); */
  /* background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%)); */

    min-height: 100vh;
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

.navbar {
  padding: 50px;
}

.card{
 
 
    background-color: rgba(21, 21, 21, 0.9); 
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6); 
    color: #ffffff;
    margin: auto;
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
    
    ;} 
.grid>div {
  margin-bottom: .5em;
}

@media (min-width: 768px) {
  #follow-img {
    position: absolute;
    pointer-events: none; /* Ensure the image doesn't interfere with mouse events */
    /* z-index: -1; Ensure the image stays behind other elements */
    width: 6rem;
    z-index: 1;
  }
  



  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFrombottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes zoom {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes slideInFromUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  

  .grid {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
  }
  .grid>div {
    margin-bottom: 0;
  }
  .grid>div:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .grid>div:nth-of-type(2) {
    grid-column: 3 / 5;
    grid-row: 1;
    animation: 1s ease-out 0s 1 slideInFromUp;
  }
  .grid>div:nth-of-type(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  .grid>div:nth-of-type(5) {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
    animation: 1s ease-out 0s 1 slideInFromRight;
  }
  .grid>div:nth-of-type(7) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    animation: 1s ease-out 0s 1 zoom  ;
  }
  .grid>div:nth-of-type(9) {
    grid-column: 3 / 6;
    grid-row: 4 / 5;
    animation: 1s ease-out 0s 1 slideInFrombottom;
  }
  .grid>div:nth-of-type(8) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  .grid>div:nth-of-type(10) {
    grid-column: 1 / 6;
    grid-row: 5;
    animation: 1s ease-out 0s 1 slideInFromLeft;
  }


.techstack_card{
  background: #fff;

}
.techstack{
margin: auto;
}
.title,.title div{
  text-align: center;
  width: 100%;
  font-family: sans-serif	;
}

.work_experience_card{
  padding: 2rem;
}

.techstack_card:hover, .work_experience:hover{
}

.position_card,.position_card div{
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
  background: var(--accent);
  text-align: center;

}
.contacts_info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.work_experience_card img{
  cursor: pointer;
}
.title{
  font-size: var(--size_fs-4);
  margin-bottom: 0.5rem;
}
.who_am_i_card .title, .name_card .title{
  font-size: var(--size_fs-2);
}



.who_am_i_card .info{
font-size: var(--size_fs-5);  
}

.project .title{
  font-size: var(--size_fs-5);
}
.techstack_card{
  z-index: 0;
}



.project{
  position: relative;
  overflow: hidden;
  margin: auto;
}
.project img{
  border-radius: 1rem;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  padding: 20px;
  text-align: center;
}

}
 /*
 :root {
  background: #000;
  --text-sm: 1.2rem;
  --accent: linear-gradient(15deg, #13547a 0%, #008080 100%);
  --size_fs-2: 2rem;
  --size_fs-1: 2.5rem;
  --size_fs-3: 1.75rem;
  --size_fs-4: 1.5rem;
  --font-body: 'Noto Sans', sans-serif;
}

body {
  background-image: linear-gradient(to top, #0a0a0a, #060606, #030303, #010101, #000000);
  min-height: 100vh;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

.navbar {
  padding: 1rem;
}

.navbar-nav .nav-link {
  font-size: var(--text-sm);
}

.card {
  background-color: rgb(56, 56, 56);
  box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.6);
  color: #ecf0f1;
  margin: 1rem 0;
  border-radius: 1rem;
  padding: 1rem;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.links .contact {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.extra {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.extra img {
  margin-left: none;
}

.grid > div {
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-link {
    margin-bottom: 0.5rem;
  }

  .card {
    margin: 1rem 0;
  }

  .grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem;
   width: 90%; 
  }

  .grid > div {
    margin-bottom: 1rem;
  }

  .title, .info, .links_name, .contacts_info, .experience_logos, .text-center {
    font-size: 0.875rem;
  }

  .card img {
    width: 100%; 
  }
  .grid > div:nth-of-type(4) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .grid > div:nth-of-type(1) {
    grid-column: 3 / 6;
    grid-row: 2/3;
  }

  .grid > div:nth-of-type(2) {
    grid-column: 1 / 6;
    grid-row: 1/2;
  }

  .grid > div:nth-of-type(6) {
    grid-column: 4 /6 ;
    grid-row: 3/4 ;
  }
  .grid > div:nth-of-type(7) {
    grid-column: 1 / 4;
    grid-row: 3/4 ;
  }
  .grid > div:nth-of-type(9) {
    grid-column: 1 / 6;
    grid-row: 4 ;
  }
  .grid > div:nth-of-type(5) {
    grid-column: 1 / 6;
    grid-row: 5 ;
  }
  .grid > div:nth-of-type(8) {
    grid-column: 1/4;
    grid-row: 6;
  }

  .grid > div:nth-of-type(3) {
    grid-column: 4/6;
    grid-row: 6;
  }
  .grid > div:nth-of-type(10) {
    display: none;
  }


}

@media (min-width: 768px) {
  .grid {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
  }

  .grid > div:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

  .grid > div:nth-of-type(2) {
    grid-column: 3 / 5;
    grid-row: 1;
  }

  .grid > div:nth-of-type(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  .grid > div:nth-of-type(5) {
    grid-column: 4 / 6;
    grid-row: 2 / 4;
  }

  .grid > div:nth-of-type(7) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .grid > div:nth-of-type(9) {
    grid-column: 2 / 5;
    grid-row: 4 / 5;
  }
}

.techstack_card {
  background: #fff;
}

.techstack {
  margin: auto;
}

.title, .title div {
  text-align: center;
  width: 100%;
  font-family: sans-serif;
}

.work_experience_card {
  padding: 2rem;
}

.position_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 1px 1px 1px #000;
  background: var(--accent);
  text-align: center;
}

.contacts_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.who_am_i_card .title, .name_card .title {
  font-size: var(--size_fs-2);
}

.certifications_card .title, .links_card .title, .work_experience_card .title, .contact_info_card .title, .position_card .title {
  font-size: var(--size_fs-4);
}

.who_am_i_card .info {
  padding-left: 1rem;
}

.custom-popover {
  --bs-popover-border-color: var(--bd-violet-bg);
  --bs-popover-header-bg: var(--accent);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
*/